{% extends 'base.html' %}

{% block head %}
    <title> Page2Elements | Metadata </title>
{% endblock %}

{% block body %}
    <div id="meta_anchor">
        <div id="meta_div">
            <img src="{{page_uri[index_meta]}}" id="meta_img" draggable="false" class="img_meta">
            <input type="hidden" name="hid_ind"id="pg_ind_meta" value="{{index_meta}}" data-range="{{rng_img | length}}">
            <script>
                var pages_meta = [];
            </script>
            {% for i in rng_img%}
                <script>
                    pages_meta.push("{{page_uri[i]}}");
                </script>
            {% endfor %}
        </div>
        <p id="metadata_p">{{meta_data[index_meta]}}</p>
        <form hidden id="meta_input">
            <label for="p_name" class="label_meta">Name </label>
            <input id="p_name" name="p_name" type="text">
            <label for="p_iss_date" class="label_meta">Issue Date </label>
            <input id="p_iss_date" name="p_iss_date" type="text">
            <label for="p_iss" class="label_meta">Issue </label>
            <input id="p_iss" name="p_iss" type="text">
            <label for="p_num" class="label_meta">Page Number </label>
            <input id="p_num" name="p_num" type="text">      
            <input id="add_meta" type="button" value="Save Changes" onclick="send_meta('write', '{{index_meta}}')">      
        </form>
        <div class="btn_div">
            <div class="mini_btn_div">
                <input type="button" class="btn_exp" value = "Previous Page" onclick='prev_page_meta(pages_meta)'>
                <input type="button" class="btn_exp" value = "Next Page" onclick='next_page_meta(pages_meta)'>
            </div>
            <div class="mini_btn_div">
                <input type="button" class="btn_exp" value = "Reset" onclick="reset_meta()">
                <input type="button" class="btn_exp" value = "Edit" onclick="insert_meta()">
                <input type="button" class="btn_exp" value = "OCR Page" onclick="send_meta('ocr', '{{index_meta}}')">                
            </div>
            <div class="mini_btn_div">
                <input type="button" class="btn_exp" value = "New Session" onclick="up_red()">
                <input type="button" class="btn_exp" value = "Show Detections" onclick="det_red()">
            </div>
        </div>
    </div>
{% endblock%}