{% extends 'base.html' %}

{% block head %}
    <title> Page2Elements | Upload </title>
{% endblock %}

{% block body%}
<div id="upload_div">
    <form id = 'up_im' method="post" enctype="multipart/form-data">
        <p>Upload Your Images here: <p>
        <div style="margin: 15px;">
            <input type="file" name="file" id = 'up_img' multiple/> 
        </div>
        <div style="margin: 15px;">
            <input type="submit" id="upload_btn" value = "Upload Image" class="btn_exp">
        </div>
    </form>
</div>
{% endblock%}