{% extends 'base.html' %}

{% block head %}
    <title> Page2Elements | Results </title>
{% endblock %}

{% block body %}
    <div class="det_prev">
        {% for i in pass_range %}
            <form method="post" class="det_form">
                <img src="data:image/png;base64, {{ pass_files[i]['obj'] }}" class="img_det_prev">
                <p>{{pass_meta[i]['obj']}}</p>
                <input type="button" class="btn_exp" name = "action_btn" value="Remove Image" onclick="remove_image('{{i}}')">
            </form>
        {% endfor %}
    </div>
    <form method="post" id="det_form_act">
        <input type="button" class="btn_exp" name = "action_btn" value = "Add Manually" onclick="man_red()">
        <input type="button" class="btn_exp" name = "action_btn" value = "Download" onclick="down_red()">
    </form>
{% endblock%}