{% extends 'base.html' %}

{% block head %}
    <title> Page2Elements | Results </title>
{% endblock %}

{% block body %}
    <div id="detections_content">
        <div id="det_prev">
            {% for i in pass_range %}
                <div method="post" class="det_container">
                    <img src="data:image/png;base64, {{ pass_files[i]['obj'] }}" class="img_det_prev">
                    <p>{{pass_meta[i]['obj']}}</p>
                    <input type="button" class="btn_exp" name = "action_btn" value="Remove Image" onclick="remove_image('{{i}}')">
                </div>
            {% endfor %}
        </div>
        <div class="btn_div">
            <input type="button" class="btn_exp" value = "Add Manually" onclick="man_red()">
            <input type="button" class="btn_exp" value = "Download" onclick="down_red()">
        </div>
    </div>
    
{% endblock%}