{% extends 'base.html' %}

{% block head %}
    <title> Page2Elements | Downloads </title>
{% endblock %}

{% block body%}
    <div class="download-container">
        <h2> Choose the download format:</h2>
        <form method = "post">
            <input type="submit" name = "download" value="Images">
            <input type="submit" name = "download" value="JSON">
            <h2> Or start a new prediction: </h2>
            <input type="submit" name = "download" value="Start New">
        </form>
    </div>
{% endblock%}