{% extends 'base.html' %}

{% block head %}
    <title> im_bot </title>
{% endblock %}

{% block body %}
    <div id="manual_detection_div" class="manual_div">
        <form method="post" id="form_man">
            <img src="{{img_src[sv_ind]}}" id="img_man" draggable="false" class="man_img">
            <div class="crop-rect"></div>
            <input type="hidden" name="hid_ind"id="pg_ind" value="{{sv_ind}}" data-range="{{rng_img | length}}">
            {% for j in range(0, det_co | length) %}
                <div id="det-rect_{{j}}" class="det_rect"></div>
                <script>
                    var rect_div = document.getElementById("det-rect_{{j}}");
                    rect_div.style.top = `${"{{det_co[j]['y_1']}}"}px`;
                    rect_div.style.width = `${"{{det_co[j]['x_2']}}" - "{{det_co[j]['x_1']}}"}px`;
                    rect_div.style.height = `${"{{det_co[j]['y_2']}}" - "{{det_co[j]['y_1']}}"}px`;
                    rect_div.style.left = `${"{{det_co[j]['x_1']}}"}px`;
                    rect_div.style.borderStyle = "solid";
                    rect_div.style.borderColor = "blue";
                    rect_div.style.position = "absolute";     
                </script> 
            {% endfor %}
            <script>
                var pages = [];
            </script>
            {% for i in rng_img%}
                <script>
                    pages.push("{{img_src[i]}}");
                </script>
            {% endfor %}
            <input type="button" name = "manual_btn" value = "Next Page" onclick='next_page(pages)'>
            <input type="button" name = "manual_btn" value = "Previous Page" onclick='prev_page(pages)' id="prev_btn">
            <input type="button" name = "manual_btn" value = "Add New" onclick="init()">
            <input type="button" name = "manual_btn" value = "Reset" onclick="reset_btn()">
            <input type="button" name = "manual_btn" value = "Confirm" onclick="confirm_btn()" id="conf_btn">
            <input type="button" name = "manual_btn" value = "Go to Downloads" onclick="down_red()">
            <input type="button" name = "manual_btn" value = "Show Detections" onclick="det_red()">
        </form>
    </div>
{% endblock%}